
.titulo {
    width: 100%;
    border: 1px solid;
    padding: 1rem;
    display: inline-block;
}

.are {
    width: 100%;
    height: auto;
    display: flex;
    padding: 1rem 0;    
}

.are-left {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.are-img {
    display: flex;
    width: 95%;
    height: auto;

}

.are-exp {
    width: 70%;
    padding: 1rem;

}


.ingetec {
    background: #F7F7F7;
    width: 100%;
    height: auto;
    display: flex;
    padding: 1rem 0;    
}

.ingetec-rigth {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingetec-img {
    display: flex;
    width: 95%;
    height: auto;
    opacity: 85%;   
}

.ingetec-exp {
    width: 70%;
    padding: 1rem;

}

