body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #5CC7B2;
    padding: 10px 20px;
}

.encabezado{
    height: 75px;
    width: 100%;
    display: flex;
    position: relative;
    margin: 0 auto;
    font: bolder;
}

.logo{
    height: 75px;
}

nav{
    position: absolute;
    top: 30px;
    right: 0px;
}

nav li{
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    display: inline;    
    margin: 0 0 0 20px;
}

.introduction{
    height: auto;
    width: 100%;
    background-image: url(Imagenes/bg-header.png);
    background-repeat: no-repeat;
    display: flex;    
}

/*.img-introduccion{
    position: absolute;
    height: 40rem;
    width: 100%;

}*/

.introduction-left{
    height: 40rem;
    width: 60%;
    padding: 0 10px 0 80px;
    
}

.introduction-left h1{
    color:rgb(0, 0, 0);
    font-size: 35px;
    font: bold;
    padding: 110px 0 0 0;
}

.introduction-left h2{
    color:rgb(176, 217, 130);
    font-size: 25px;
    font: bold;
    padding: 10px 0 0 0;
}

.introduction-left p{
    color:rgb(0, 0, 0);
    font-size: 15px;
    padding: 10px 0 0 0;
    text-align: justify;
}

.introduction-rigth{
    height: 40rem;
    width: 40%;
    justify-content: center;
    align-items: center;    
}

.introduction-rigth img{
    width: 15rem;
    height: 15rem;
    padding: 110px 5rem 5rem; 
}

.aboutme{
    height: auto;
    width: 100%;
    display: flex;
}

.aboutme-left{
    padding: 0 0 0 20px;
    width: 35%;
    height: auto;
    float: none;
}

.aboutme-left img{
    padding: 10px 0 0 10px;
    width: 20rem;
}

.aboutme-right{
    text-align: justify;
    padding: 0 30px 0 20px;
}

.aboutme-right h1{
    padding: 10px 0 0;
    font: bold;
}

.aboutme-right p{
    padding: 10px 0 5px;
    font: bold;
}

